body {
  font-family: 'Bree Serif', serif;
  color: #fff;
  line-height: 21px;
}
h1 {
  text-align: center;
}
fieldset {
  border: 2px solid #6e6cd091;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 15px;
  width: 850px;
  background-color: #538fe8;
}
.container {
  /* border: 1px solid #D8D8D8; */
  width: 900px;
  height: auto;
  margin: 20px auto;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #538fe8;
}
#fieldset-container {
  min-height: 360px;
}
select {
  margin-bottom: 10px;
}
legend {
  font-size: 20px;
}
